<md-expansion-panel md-component-id="opciones">
  
  <md-expansion-panel-collapsed class="mouseClick">
    <div class="md-title">Datos</div>
    <div class="md-summary">
      Periodo {{ et.fechaIni | date:'fullDate'}} - {{ et.fechaFin | date:'fullDate'}}
    </div>
    <md-expansion-panel-icon><ng-md-icon icon="keyboard_arrow_down"></ng-md-icon></md-expansion-panel-icon>
  </md-expansion-panel-collapsed>


  <md-expansion-panel-expanded>

    <md-expansion-panel-header class="mouseClick" ng-click="$panel.collapse()">
      <div class="md-title">Cambiar Rango</div>
      <div class="md-summary">Periodo {{ et.fechaIni | date:'fullDate'}} - {{ et.fechaFin | date:'fullDate'}}</div>
      <md-expansion-panel-icon><ng-md-icon icon="keyboard_arrow_up"></ng-md-icon></md-expansion-panel-icon>
    </md-expansion-panel-header>

    <md-expansion-panel-content>
      
      <md-content layout-padding layout-wrap layout="column" layout-gt-sm="row">
        
        <p>Rango de fechas para los datos estadisticos:</p>
        <md-input-container>
          <label>Del</label>
          <md-datepicker ng-model="et.fechaIni" name="fechaIni" md-min-date="minDate" md-max-date="et.fechaFin" md-open-on-focus>
          </md-datepicker>
        </md-input-container>

        <md-input-container>
          <label>Al</label>
          <md-datepicker ng-model="et.fechaFin" name="fechaIni" md-min-date="et.fechaIni" md-open-on-focus>
          </md-datepicker>
        </md-input-container>
        
          
      </md-content>
      
    </md-expansion-panel-content>

    <md-expansion-panel-footer>
      <div flex></div>
      <md-button class="md-warn" ng-click="$panel.collapse();et.cargaInfo();">Aplicar</md-button>
    </md-expansion-panel-footer>

  </md-expansion-panel-expanded>

</md-expansion-panel>


<div  layout="row" layout-align="center center" ng-if="et.cargandoInfo">
    <br>
    <md-progress-circular md-mode="indeterminate" class="md-accent md-hue-1"></md-progress-circular>
</div>

<md-content class="bg-transparent" layout-wrap layout-margin layout="column" layout-gt-sm="row" ng-if="!et.cargandoInfo">

    <div class="md-whiteframe-2p" flex>
        <div class="mini-charts-item bgm-cyan ">
          <div class="clearfix">
              <div class="chart stats-bar"></div>
              <div class="count">
                  <h3>Registrados en el mes</h3>
                  <br>
                  <span>{{ et.datos.expedientes }}</span>
                  <a ui-sref="index.estadistica({tipo:'expedientes'})" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect right" md-ink-ripple>
                    Ver detalles
                  </a>
              </div>
          </div>
        </div>
    </div>

    <div class="md-whiteframe-2p" flex>
        <div class="mini-charts-item bgm-bluegray">
          <div class="clearfix">
              <div class="chart stats-bar"></div>
              <div class="count">
                  <h3>Atenciones Sin registrar</h3>
                  <br>
                  <span>{{ et.datos.expedientesSA }}</span>
                  <a ui-sref="index.estadistica({tipo:'sinAtn'})" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect right" md-ink-ripple>
                    Ver detalles
                  </a>
              </div>
          </div>
        </div>
    </div>

    <div class="md-whiteframe-2p" flex>
        <div class="mini-charts-item bgm-blue">
          <div class="clearfix">
              <div class="chart stats-bar"></div>
              <div class="count">
                  <h3>Atenciones Registradas Sin Documentos</h3>
                  <br>
                  <span>{{ et.datos.atencionesEt1SD }}</span>
                  <a ui-sref="index.estadistica({tipo:'documentos'})" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect right" md-ink-ripple>
                    Ver detalles
                  </a>
              </div>
          </div>
        </div>
    </div>

    <div class="md-whiteframe-2p" flex>
        <div class="mini-charts-item bgm-orange">
          <div class="clearfix">
              <div class="chart stats-bar"></div>
              <div class="count">
                  <h3>Atenciones Con Documentos Sin Solicitud Rev.</h3>
                  <br>
                  <span>{{ et.datos.atencionesEt1CDSL }}</span>
                  <a ui-sref="index.estadistica({tipo:'documentosSinA'})" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect right" md-ink-ripple>
                    Ver detalles
                  </a>
              </div>
          </div>
        </div>
    </div>

</md-content>

<md-content class="bg-transparent" layout-wrap layout-margin layout="column" layout-gt-sm="row" ng-if="!et.cargandoInfo">

    <div class="md-whiteframe-2p" flex>
        <div class="mini-charts-item bgm-lightgreen">
          <div class="clearfix">
              <div class="chart stats-bar"></div>
              <div class="count">
                  <h3>Atenciones Con Documentos Sin Autorizar </h3>
                  <br>
                  <span>{{ et.datos.atencionesEt1CDSR }}</span>
                  <a ui-sref="index.estadistica({tipo:'autorizar'})" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect right" md-ink-ripple>
                    Ver detalles
                  </a>
              </div>
          </div>
        </div>
    </div>
    
    <div class="md-whiteframe-2p" flex>
        <div class="mini-charts-item bgm-purple">
          <div class="clearfix">
              <div class="chart stats-bar"></div>
              <div class="count">
                  <h3>Atenciones Autorizadas Sin Factura</h3>
                  <br>
                  <span>{{ et.datos.atencionesEt1ASF }}</span>
                  <a ui-sref="index.estadistica({tipo:'facturar'})" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect right" md-ink-ripple>
                    Ver detalles
                  </a>
              </div>
          </div>
        </div>
    </div>

    <div class="md-whiteframe-2p" flex>
        <div class="mini-charts-item bgm-green">
          <div class="clearfix">
              <div class="chart stats-bar"></div>
              <div class="count">
                  <h3>Atenciones Rechazadas</h3>
                  <br>
                  <span>{{ et.datos.atencionesEt1R }}</span>
                  <a ui-sref="index.estadistica({tipo:'rechazos'})" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect right" md-ink-ripple>
                    Ver detalles
                  </a>
              </div>
          </div>
        </div>
    </div>

    <div class="md-whiteframe-2p" flex>
        <div class="mini-charts-item bgm-indigo">
          <div class="clearfix">
              <div class="chart stats-bar"></div>
              <div class="count">
                  <h3>Atenciones En Revisión de Factura</h3>
                  <br>
                  <span>{{ et.datos.atencionesEt1RF }}</span>
                  <a ui-sref="index.estadistica({tipo:'revisionFac'})" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect right" md-ink-ripple>
                    Ver detalles
                  </a>
              </div>
          </div>
        </div>
    </div>

    
</md-content>

<md-content class="bg-transparent" layout-wrap layout-margin layout="column" layout-gt-sm="row" ng-if="!et.cargandoInfo">
    
    <div class="md-whiteframe-2p" flex>
        <div class="mini-charts-item bgm-deeppurple">
          <div class="clearfix">
              <div class="chart stats-bar"></div>
              <div class="count">
                  <h3>Atn. con Facturas Autorizadas</h3>
                  <br>
                  <span>{{ et.datos.atencionesEt1FA }}</span>
                  <a ui-sref="index.estadistica({tipo:'facturaAut'})" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect right" md-ink-ripple>
                    Ver detalles
                  </a>
              </div>
          </div>
        </div>
    </div>

    <div class="md-whiteframe-2p" flex>
        <div class="mini-charts-item bgm-amber">
          <div class="clearfix">
              <div class="chart stats-bar"></div>
              <div class="count">
                  <h3>Atn. Con Facturas Rechazadas</h3>
                  <br>
                  <span>{{ et.datos.atencionesEt1FR }}</span>
                  <a ui-sref="index.estadistica({tipo:'facturaRec'})" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect right" md-ink-ripple>
                    Ver detalles
                  </a>
              </div>
          </div>
        </div>
    </div>

    <div class="md-whiteframe-2p" flex>
        <div class="mini-charts-item bgm-red">
          <div class="clearfix">
              <div class="chart stats-bar"></div>
              <div class="count">
                  <h3>Atenciones Pagadas</h3>
                  <br>
                  <span>{{ et.datos.atencionesEt1P }}</span>
                  <a ui-sref="index.estadistica({tipo:'pagados'})" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect right" md-ink-ripple>
                    Ver detalles
                  </a>
              </div>
          </div>
        </div>
    </div>

    
</md-content>


<md-content layout="column" layout-gt-md="row" layout-margin class="bg-transparent">

  <div class="md-whiteframe-2dp white" flex="50">
    <md-subheader class="md-primary">Ultimos 12 Meses</md-subheader>
    <md-divider ></md-divider>
    <br>
    <am-chart class="graficas" options="et.meses" height="350px" width="95%" layout-padding></am-chart>
  </div>
  
  <div class="md-whiteframe-2dp white" flex="50">
    <md-subheader class="md-primary">En el Mes</md-subheader>
    <md-divider ></md-divider>
    <br>
    <am-chart class="graficas" options="et.semanas" height="350px" width="95%" layout-padding></am-chart>
  </div>

</md-content>