/*.sub-menu.ng-enter, .sub-menu.ng-leave {
  	transition:all linear 0.5s;
}

.sub-menu.ng-enter,
.sub-menu.ng-leave.ng-leave-active {
	line-height: 0;
	height: 0;
  	opacity:0;
}

.sub-menu.ng-leave,
.sub-menu.ng-enter.ng-enter-active {
  	opacity:1;
}*/

.animate-switch.ng-animate {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  right:-50px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  right:0;
}

.paginas{
  position: absolute;
  width: 100%;
}

.paginas.ng-leave {

  animation: fadeOut 0.5s;

}

.paginas.ng-enter{
    
  animation: fadeIn 0.5s;

}

/*.cargando.ng-leave {

  animation: zoomOutDown 0.5s;

}

.cargando.ng-enter{
    
  animation: fadeIn 0.5s;

}*/


/*.central.ng-enter{
  animation: fadeInUp 0.5s;
}

.central.ng-enter-active{
  animation: flash 2s;
}

.central.ng-leave{
  animation: bounceOut 0.5s;
}

.central.ng-leave-active{
  animation: pulse 2s;
}*/



.muestras.ng-hide-add {

    animation: fadeOutDown 0.9s;

}

.muestras.ng-hide-remove{
    
    animation: fadeInUp 0.9s;

}


.boton.ng-hide-add {

    animation: fadeOutDown 0.5s;

}

.boton.ng-hide-remove{
    
    animation: fadeIn 0.5s;

}

.boton.ng-enter{

    animation: fadeInUp 0.5s;

}

.boton.ng-leave{
    
    animation: fadeOutDown 0.5s;

}

.detalle {
  max-height: 1000px;
  overflow: hidden;
  webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  -ms-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

.detalle.ng-hide {
  max-height: 0;
}


/*.seccion{
  transition:all 1s linear;
}*/

.seccion.ng-leave {
  animation: fadeOut 0.4s;
}

.seccion.ng-enter{
  animation: fadeInUp 0.5s;
}

/*.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}*/

/* Chrome, Safari, Opera */
@-webkit-keyframes expancion {
    0%   {width:100%;}
    10%  {border-radius:50%; width:10%;height:100px; position:absolute; }
    75%  {transform:scale(10,10);}
    100% {opacity:0;}
}

/* Standard syntax */
@keyframes expancion {
    0%   {width:100%;}
    10%  {border-radius:50%; width:10%;height:100px; position:absolute;}
    75%  {transform:scale(10,10);}
    100% {opacity:0;}
}

