<md-content layout-gt-sm="row" layout="column" layout-margin class="bg-transparent">

  <div class="md-whiteframe-2dp white" flex="33">
    <md-subheader class="md-primary">Videos</md-subheader>
    <md-divider ></md-divider>
    <md-list>
      <md-list-item  ng-click="au.video($event,1)">
          <ng-md-icon icon="play_circle_fill" aria-label="Reproducir"></ng-md-icon>
          <p>Objetivo y Mecanica del bono</p>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item  ng-click="au.video($event,2)">
          <ng-md-icon icon="play_circle_fill" aria-label="Reproducir"></ng-md-icon>
          <p>tiempo de Espera</p>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item  ng-click="au.video($event,3)">
          <ng-md-icon icon="play_circle_fill" aria-label="Reproducir"></ng-md-icon>
          <p>Expediente Completos</p>
      </md-list-item>
      <md-divider ></md-divider>
    </md-list>
  </div>
  <div class="md-whiteframe-2dp white" flex="33">
    <md-subheader class="md-primary">Guias Rapidas</md-subheader>
    <md-divider ></md-divider>
    <md-list>
      <md-list-item >
          <p>Elemento 1</p>
          <ng-md-icon icon="folder" aria-label="Detalle"></ng-md-icon>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item>
          <p>Elemento 2 </p>
          <ng-md-icon icon="folder" aria-label="Detalle"></ng-md-icon>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item>
          <p>Elemento 3</p>
          <ng-md-icon icon="folder" aria-label="Detalle"></ng-md-icon>
      </md-list-item>
      <md-divider ></md-divider>
    </md-list>
  </div>
  <div class="md-whiteframe-2dp white" flex="33">
    <md-subheader class="md-primary">Información Importante</md-subheader>
    <md-divider ></md-divider>
    <md-list>
      <md-list-item ng-click="au.directorio($event)">
          <ng-md-icon icon="phone" aria-label="Detalle"></ng-md-icon>
          <p> Directorio </p>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item>
          <ng-md-icon icon="business" aria-label="Detalle"></ng-md-icon>
          <p> Datos Fiscales </p>
      </md-list-item>
      <md-list-item class="md-2-line">
          <div class="md-list-item-text md-offset">
            <h3>MedicaVial S.A. de C.V.</h3>
            <p>Razón Social</p>
          </div>
      </md-list-item>
      <md-list-item class="md-2-line">
          <div class="md-list-item-text md-offset">
            <h3>MED011012TD4</h3>
            <p>RFC</p>
          </div>
      </md-list-item>
      <md-list-item class="md-2-line">
          <div class="md-list-item-text md-offset">
            <h3>Av. Alvaro Obregon 151 Piso9</h3>
            <p>Calle</p>
          </div>
      </md-list-item>
      <md-list-item class="md-2-line">
          <div class="md-list-item-text md-offset">
            <h3>Col. Roma, Ciudad de México</h3>
            <p>Colonia, Estado</p>
          </div>
      </md-list-item>
      <md-list-item class="md-2-line">
          <div class="md-list-item-text md-offset">
            <h3>06700</h3>
            <p>CP</p>
          </div>
      </md-list-item>
    </md-list>
  </div>
    
</md-content>

<md-content layout-gt-sm="row" layout="column" layout-margin class="bg-transparent">

  <div class="md-whiteframe-2dp white" flex="33">
    <md-subheader class="md-primary">Uso de Sistema</md-subheader>
    <md-divider ></md-divider>
    <md-list>
      <md-list-item  ng-click="null">
          <ng-md-icon icon="import_contacts" aria-label="Reproducir"></ng-md-icon>
          <p>Como registrar un paciente</p>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item  ng-click="null">
          <ng-md-icon icon="import_contacts" aria-label="Reproducir"></ng-md-icon>
          <p>Como seleccionar producto</p>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item  ng-click="null">
          <ng-md-icon icon="import_contacts" aria-label="Reproducir"></ng-md-icon>
          <p>Información que se tiene en el pase</p>
      </md-list-item>
      <md-divider ></md-divider>
    </md-list>
  </div>

  <div class="md-whiteframe-2dp white" flex="33">
    <md-subheader class="md-primary">Telefonos Cabina MV</md-subheader>
    <md-divider ></md-divider>
    <md-list>
      <md-list-item>
          <ng-md-icon icon="phone" aria-label="Detalle"></ng-md-icon>
          <p> 01 800 999 12 22 </p>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item>
          <ng-md-icon icon="phone" aria-label="Detalle"></ng-md-icon>
          <p> 55 11 60 06 </p>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item>
          <ng-md-icon icon="phone" aria-label="Detalle"></ng-md-icon>
          <p> 55 11 60 05 </p>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item>
          <ng-md-icon icon="phone" aria-label="Detalle"></ng-md-icon>
          <p> 55 11 70 01 </p>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item>
          <ng-md-icon icon="phone" aria-label="Detalle"></ng-md-icon>
          <p> 55 11 70 03 </p>
      </md-list-item>
    </md-list>
  </div>

  <div class="md-whiteframe-2dp white" flex="33">
    <md-subheader class="md-primary">Contacto</md-subheader>
    <md-divider ></md-divider>
    <md-list-item >
          <ng-md-icon icon="email" aria-label="correo"></ng-md-icon>
          <p>soporte@medicavial.com.mx</p>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item>
          <ng-md-icon icon="twitter" aria-label="twitter"></ng-md-icon>
          <p>@medicavial</p>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item>
          <ng-md-icon icon="facebook" aria-label="facebook"></ng-md-icon>
          <p>facebook.com/medicavial</p>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item>
          <ng-md-icon icon="phone" aria-label="telefono"></ng-md-icon>
          <p>55-14-47-00</p>
      </md-list-item>
  </div>
    
</md-content>





