<div layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" style="transition: all 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);">
      <!-- Este div ayuda a que el card quede fijo -->
      <md-content>
      
        <md-card>
          <md-card-header>
            <md-card-avatar>
              <img class="md-user-avatar md-whiteframe-5dp" src="img/user3.png"/>
            </md-card-avatar>
          </md-card-header>
          <md-card-title>
            <md-card-title-text layout="row">
              <span class="md-subhead" flex style="font-size: 12px;">{{nombre}}</span>
              <md-menu md-position-mode="target-right target">
                  <md-button aria-label="Opciones" class="md-icon-button" ng-click="$mdOpenMenu()">
                    <md-icon md-menu-origin>
                      <ng-md-icon icon="arrow_drop_down" style="fill:white"></ng-md-icon> 
                    </md-icon>
                  </md-button>
                  <md-menu-content width="2">
                    <md-menu-item>
                      <md-button ng-click="editaPerfil($event)">
                        Editar Perfil
                        <md-icon md-menu-align-target>
                          <ng-md-icon icon="photo"></ng-md-icon> 
                        </md-icon>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
            </md-card-title-text>
          </md-card-title>
        </md-card>

        <md-list>
          <md-subheader class="md-no-sticky">MENU</md-subheader>

          <md-divider></md-divider>

          <md-list-item ng-click="ir('index.home')">
            <md-icon>
              <ng-md-icon icon="home"></ng-md-icon>
            </md-icon>
            <p> Inicio </p>
          </md-list-item>

          <md-divider></md-divider>

          <md-list-item ng-click="ir('index.registro')">
            <md-icon>
              <ng-md-icon icon="assignment"></ng-md-icon>
            </md-icon>
            <p> Registro de Paciente </p>
          </md-list-item>
          
          <md-divider></md-divider>
          
          <md-list-item ng-click="ir('index.busqueda')">
            <md-icon>
              <ng-md-icon icon="search"></ng-md-icon> 
            </md-icon>
            <p> Busqueda </p>
          </md-list-item>
          <!-- <md-list-item ng-click="abrirMenu(1)">
            <md-icon>
              <ng-md-icon icon="dashboard" style="fill:rgb(255, 87, 34)"></ng-md-icon>
            </md-icon>
            <p> Registro de Paciente </p>
            <md-icon>
              <ng-md-icon icon="{{iconoAdmin}}" options='{"duration": 375,"rotation": "none"}'></ng-md-icon>
            </md-icon>
          </md-list-item>
          <div ng-if="admin" class="sub-menu">
            <md-list-item ng-click="ir('index.usuarios')">
              <md-icon>
                <ng-md-icon icon="keyboard_arrow_right" style="fill:rgb(255, 87, 34)"></ng-md-icon> 
              </md-icon>
              <p> Usuarios </p>
            </md-list-item>
            <md-list-item ng-click="ir('index.perfiles')">
              <md-icon>
                <ng-md-icon icon="keyboard_arrow_right" style="fill:rgb(255, 87, 34)"></ng-md-icon> 
              </md-icon>
              <p> Perfiles </p>
            </md-list-item>
            <md-list-item ng-click="ir('index.tiposajuste')">
              <md-icon>
                <ng-md-icon icon="keyboard_arrow_right" style="fill:rgb(255, 87, 34)"></ng-md-icon> 
              </md-icon>
              <p> Tipos Ajuste </p>
            </md-list-item>
            <md-list-item ng-click="ir('index.tiposorden')">
              <md-icon>
                <ng-md-icon icon="keyboard_arrow_right" style="fill:rgb(255, 87, 34)"></ng-md-icon> 
              </md-icon>
              <p> Tipos Orden </p>
            </md-list-item>
            <md-list-item ng-click="ir('index.subtipositem')">
              <md-icon>
                <ng-md-icon icon="keyboard_arrow_right" style="fill:rgb(255, 87, 34)"></ng-md-icon> 
              </md-icon>
              <p> SubTipos item </p>
            </md-list-item>
          
          </div> -->


        </md-list>

      </md-content>

    </md-sidenav>


    <md-content layout="column" class="gris" flex >
      <md-toolbar layout="row" layout-align="center center" md-scroll-shrink>
        <div class="md-toolbar-tools">
          <md-button ng-click="toggleSidenav('left')" ng-if="verificaVista()" class="md-icon-button">
            <ng-md-icon icon="{{menu}}" style="fill:white" aria-label="Menu"></ng-md-icon> 
          </md-button>
          <h1>{{ titulo }}</h1>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Notificaciones">
              <ng-md-icon icon="notifications" style="fill:white"></ng-md-icon> 
          </md-button>
          <md-menu md-position-mode="target-right target">
            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <ng-md-icon md-menu-origin icon="more_vert" style="fill:white"></ng-md-icon> 
            </md-button>
            <md-menu-content width="3" >
              <md-menu-item>
                <md-button ng-click="ir('index.configuraciones')">
                    <ng-md-icon icon="settings" style="fill:gray"></ng-md-icon>
                    Configuración
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="logout()">
                    <ng-md-icon icon="logout" style="fill:gray"></ng-md-icon>
                    Salir
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </md-toolbar>
      <ui-view ng-if="!cargando" class="padding-views paginas"></ui-view>
      <div id="centro" ng-if="cargando" layout-align="center center">
        <md-progress-circular md-mode="indeterminate" md-diameter="96" class="md-accent"></md-progress-circular>
      </div>
    </md-content>

    
</div>