<md-content class="bg-transparent height-full">

  <toolbar titulo="titulo" menu="menu" url="url" unidad="nombreUni"></toolbar>

  <div ng-if="!cargando" ui-view class="paginas"></div>

  <div ng-if="cargando" id="centro" layout="row" layout-align="center center">
      <md-progress-circular md-mode="indeterminate" md-diameter="50" class="md-accent"></md-progress-circular>
  </div>

</md-content>

      
<!-- Menu Izquierdo -->
<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-2dp" md-component-id="left" md-is-locked-open="false" style="transition: all 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);">
  <menu class="no-padding no-margin"></menu>

</md-sidenav>

<!-- menu derecho -->
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <configuracion></configuracion>    
</md-sidenav>