<div class="padding-views" layout="column" ng-init="bs.inicio()">
    
    <form ng-submit="bs.buscar()">
    <md-content layout-gt-sm="row" layout="column" layout-padding layout-wrap class="md-whiteframe-2dp">
        
        <md-input-container flex>
          <label>Lesionado</label>
          <input name="lesionado" ng-model="bs.datos.lesionado" mayusculas>          
        </md-input-container>

        <md-input-container flex>
          <label>Folio</label>
          <input name="folio" ng-model="bs.datos.folio" folio>          
        </md-input-container>
        
        <div layout="column" layout-align="center center" flex>
          <md-progress-circular md-mode="indeterminate" ng-if="bs.consultando"></md-progress-circular>
          <md-button type="submit" class="md-raised md-primary" ng-if="!bs.consultando">Buscar</md-button>
        </div>
        
    </md-content>
    </form>
    <br>
    <div flex>
      
      <md-table-container class="md-whiteframe-2dp white">
        <table md-table md-progress="bs.consulta">
          <thead md-head md-order="bs.datos.order" md-on-reorder="bs.buscar">
            <tr md-row>
              <th md-column md-order-by="Cia_clave">Cliente</th>
              <th md-column md-order-by="Exp_folio">Folio</th>
              <th md-column md-order-by="Exp_completo">Lesionado</th>
              <th md-column md-order-by="Exp_fecreg">Registro</th>
              <th md-column md-order-by="Exp_obs">Observaciones</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row class="fila" ng-repeat="registro in bs.registros">
              
              <td ui-sref="index.detalle({folio:registro.Exp_folio})" md-cell class="imagen"> 
                <img class="img-thumbnail md-whiteframe-2dp" ng-src="http://www.medicavial.net/mvred/imgs/logosregmv/{{ registro.Cia_logo }}" alt="{{registro.Cia_clave}}"  width="100"> 
              </td>
              <td ui-sref="index.detalle({folio:registro.Exp_folio})" md-cell>{{registro.Exp_folio}}</td>
              <td ui-sref="index.detalle({folio:registro.Exp_folio})" md-cell>{{registro.Exp_completo}}</td>
              <td ui-sref="index.detalle({folio:registro.Exp_folio})" md-cell>{{registro.Exp_fecreg}}</td>
              <td ui-sref="index.detalle({folio:registro.Exp_folio})" md-cell>{{registro.Exp_obs}}</td>
              <td md-cell>
                  <md-menu md-position-mode="target-right target" >
                    <md-button aria-label="Opciones" class="md-icon-button" ng-click="$mdOpenMenu()">
                      <md-icon md-menu-origin>
                        <ng-md-icon icon="more_vert"></ng-md-icon> 
                      </md-icon>
                    </md-button>
                    <md-menu-content width="2">
                      <md-menu-item>
                        <md-button ui-sref="index.detalle({folio:registro.Exp_folio})">
                          <p>Ver. Detalle</p>
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click="ir.editaTipo($event,registro)">
                          <p>Solicitar Cancelación</p>
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
              </td>              
            </tr>
            
          </tbody>
        </table>
        <md-table-pagination md-limit="bs.datos.limit" md-limit-options="bs.paginacion" md-page="bs.datos.page" md-total="{{bs.total}}" md-on-paginate="bs.buscar" md-label="{page: 'Página:', rowsPerPage: 'Resultados por página:', of: 'de'}" md-page-select></md-table-pagination  md-page-select="bs.pageSelect">
      </md-table-container>

      <!-- <md-list>
        <md-list-item class="md-whiteframe-3dp white" ng-repeat-start="registro in bs.registros |filter:query" ng-click="bs.muestraDetalle($index,registro)">
          <img alt="{{registro.Cia_clave}}" ng-src="http://www.medicavial.net/mvred/imgs/logosregmv/{{ registro.Cia_logo }}" class="imagen-lista" />
          <p>{{registro.Exp_folio}}</p>
          <p>{{registro.Exp_completo}}</p>
          <p>{{registro.Exp_fecreg}}</p>
        </md-list-item>
        <md-list-item ng-repeat-end ng-if="bs.detalle[$index]">
            contenido
        </md-list-item>
      </md-list> -->
      

    <br>

  
</div>


