<div layout="row">
<md-toolbar ng-class="dt.bg">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings">
      <ng-md-icon icon="{{dt.icon}}"></ng-md-icon>
    </md-button>
    <h2>
      <span>Comunicación</span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="cerrar" ng-click="dt.cierraSeccion()">
        <ng-md-icon icon="close"></ng-md-icon> 
    </md-button>
  </div>
</md-toolbar>

<br>
<md-divider></md-divider>

<br>

<md-content class="md-whiteframe-2dp">

</md-content>
