<md-content layout="column" layout-gt-sm="row" layout-margin class="bg-transparent">

  <div class="md-whiteframe-2dp white" flex="33">
    <md-subheader class="md-primary">Formatos de Atención Administrativa</md-subheader>
    <md-divider ></md-divider>
    <md-list>
      <md-list-item >
          <ng-md-icon icon="insert_drive_file" aria-label="Detalle"></ng-md-icon>
          <p>Portada de Expediente</p>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item ng-click="fr.muestraArchivo('cuestionario.pdf','archivos',$event)">
          <ng-md-icon icon="insert_drive_file" aria-label="Detalle"></ng-md-icon>
          <p>Cuestionario de Atención Médica</p>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item ng-click="fr.muestraArchivo('identificacion.pdf','archivos',$event)">
          <ng-md-icon icon="insert_drive_file" aria-label="Detalle"></ng-md-icon>
          <p>Identificación de Lesionado</p>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item >
          <ng-md-icon icon="insert_drive_file" aria-label="Detalle"></ng-md-icon>
          <p>Nota Aclaratoria</p>
      </md-list-item>
      <md-divider ></md-divider>

    </md-list>
  </div>
  <div class="md-whiteframe-2dp white" flex="33">
    <md-subheader class="md-primary">Formatos de Atención Médica</md-subheader>
    <md-divider ></md-divider>
    <md-list>
      <md-list-item ng-click="fr.muestraArchivo('Nota_Medica.pdf','archivos',$event)">
          <ng-md-icon icon="insert_drive_file" aria-label="Detalle"></ng-md-icon>
          <p>Nota Médica Electronica 1ra. vez</p>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item ng-click="fr.muestraArchivo('Suministros.pdf','archivos',$event)">
          <ng-md-icon icon="insert_drive_file" aria-label="Detalle"></ng-md-icon>
          <p>Subsecuencia</p>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item >
          <ng-md-icon icon="insert_drive_file" aria-label="Detalle"></ng-md-icon>
          <p>Adendum a Nota Médica</p>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item class="md-2-line">
          <ng-md-icon icon="insert_drive_file" aria-label="Detalle"></ng-md-icon>
          <div class="md-list-item-text">
            <p>Nota Médica Interconsulta</p>
            <p>Diferente a ortopedia</p>
          </div>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item class="md-2-line">
          <ng-md-icon icon="insert_drive_file" aria-label="Detalle"></ng-md-icon>
          <div class="md-list-item-text">
            <p>Nota Complementaria</p>
            <p>Formato SOAP</p>
          </div>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item >
          <ng-md-icon icon="insert_drive_file" aria-label="Detalle"></ng-md-icon>
          <p>Alta de Paciente</p>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item >
          <ng-md-icon icon="insert_drive_file" aria-label="Detalle"></ng-md-icon>
          <p>Concentimiento Informado</p>
      </md-list-item>
      <md-divider ></md-divider>
    </md-list>
  </div>
  <div class="md-whiteframe-2dp white" flex="33">
    <md-subheader class="md-primary">Terapia de Rehabilitación</md-subheader>
    <md-divider ></md-divider>
    <md-list>
      <md-list-item ng-click="fr.muestraArchivo('Rehabilitacion.pdf','archivos',$event)">
          <ng-md-icon icon="insert_drive_file" aria-label="Detalle"></ng-md-icon>
          <p>Reporte de Terapia</p>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item >
          <ng-md-icon icon="insert_drive_file" aria-label="Detalle"></ng-md-icon>
          <p>Reporte de Ciclos de Terapia</p>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item >
          <ng-md-icon icon="insert_drive_file" aria-label="Detalle"></ng-md-icon>
          <p>Alta de Paciente</p>
      </md-list-item>
      <md-divider ></md-divider>
    </md-list>
  </div>
    
</md-content>

<md-content layout="column" layout-gt-sm="row" layout-margin class="bg-transparent">

  <div class="md-whiteframe-2dp white" flex="33">
    <md-subheader class="md-primary">Ejercicios en casa</md-subheader>
    <md-divider ></md-divider>
    <md-list>
      <md-list-item ng-repeat="ejercicio in fr.ejercicios" ng-click="fr.muestraArchivo(ejercicio.archivo,ejercicio.carpeta,$event)">
          <ng-md-icon icon="insert_drive_file" aria-label="Detalle"></ng-md-icon>
          <p>{{ ejercicio.nombre }}</p>
      </md-list-item>
      <md-divider ></md-divider>
      
    </md-list>
  </div>

  <div class="md-whiteframe-2dp white" flex="33">
    <md-subheader class="md-primary">Otros</md-subheader>
    <md-divider ></md-divider>
    <md-list>
      <md-list-item >
          <ng-md-icon icon="insert_drive_file" aria-label="Detalle"></ng-md-icon>
          <p>Recomendaciones al Paciente</p>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item >
          <ng-md-icon icon="insert_drive_file" aria-label="Detalle"></ng-md-icon>
          <p>Esguince Cervical (informativo)</p>
      </md-list-item>
      <md-divider ></md-divider>
    </md-list>
  </div>

  <div flex="33">
  </div>
    
</md-content>





