<md-card>
  <md-card-title layout="column">
    <md-card-title-text>
      <span class="md-headline">Cabina MedicaVial</span>
      <span class="md-subhead">Contacto</span>
    </md-card-title-text>
    <md-card-content>
        <div layout="row" layout-xs="column" layout-align="center center" layout-padding>
          <h3>
            01 800 999 12 22
          </h3>
          <h4>
            - 55 11 60 06 <br>
            - 55 11 60 05 <br>
            - 55 11 70 01 <br>
            - 55 11 70 03
          </h4>
        </div>
    </md-card-content>
  </md-card-title>
</md-card>

