<md-content>

    <section layout-gt-sm="row" layout="column"  layout-align="space-between center" layout-margin>

        <img ng-src="http://www.medicavial.net/mvred/imgs/logosregmv/{{ rg.imagenCliente }}" class="img-registro" alt="cliente">

        <img ng-src="{{ rg.imagenFolio }}" class="img-registro" alt="folio">

        <img ng-src="http://www.medicavial.net/mvred/imgs/producto/{{ rg.imagenProducto }}" class="img-registro" alt="producto">

    </section>

    <form name="rg.siniestroForm" ng-submit="rg.guardaSiniestro()" novalidate>
      
      <md-content layout-padding layout-wrap>
        
        <section layout="row" layout-xs="column">
          
          <md-input-container class="md-block" flex>
              <label>Cobertura Afectada</label>
              <md-select ng-model="rg.datoSiniestro.riesgo" name="tipoTel" required>
                <md-option ng-repeat="riesgo in rg.riesgos" ng-value="{{riesgo.RIE_clave}}">{{riesgo.RIE_nombre}}</md-option>
              </md-select>
              <div ng-messages="rg.siniestroForm.tipoTel.$error" ng-if="rg.siniestroForm.$submitted">
                <div ng-message="required">El campo es requerido</div>
              </div>
          </md-input-container>

          <md-input-container  class="md-block" flex>
            <label>Poliza</label>
            <input type="text" name="poliza" ng-model="rg.datoSiniestro.poliza" mayusculas required>
            <div ng-messages="rg.siniestroForm.poliza.$error" ng-if="rg.siniestroForm.$submitted">
              <div ng-message="required">El campo es requerido</div>            
            </div>
          </md-input-container>

          <md-input-container flex>
            <label>Inciso</label>
            <input type="text" name="inciso" ng-model="rg.datoSiniestro.inciso" maxlength="6" mayusculas>
            <div ng-messages="rg.siniestroForm.inciso.$error" ng-if="rg.siniestroForm.$submitted">
                <div ng-message="maxlength">El campo no puede ser mayor de 6</div>
              </div>
          </md-input-container>
          
          <md-input-container  class="md-block" flex>
            <label>Folio de  <span ng-if="rg.datoSiniestro.cliente != 19 && rg.datoSiniestro.cliente != 10">Derivación</span> <span ng-if="rg.datoSiniestro.cliente == 19">Electronico</span> <span ng-if="rg.datoSiniestro.cliente == 10">Segmentación</span> </label>
            <input type="text" name="telefono" ng-model="rg.datoSiniestro.folioElec" mayusculas >
          </md-input-container>


        </section>

        <section layout="row" layout-xs="column">


          <md-input-container flex>
            <label>Siniestro</label>
            <input type="text" name="siniestro" ng-model="rg.datoSiniestro.siniestro" mayusculas ng-required=" rg.datoSiniestro.bitacora == '' && rg.datoSiniestro.reporte == '' ">
            <div ng-messages="rg.siniestroForm.siniestro.$error" ng-if="rg.siniestroForm.$submitted">
              <div ng-message="required">El campo es requerido</div>            
            </div>
          </md-input-container>

          <md-input-container flex>
            <label>bitacora</label>
            <input type="text" name="bitacora" ng-model="rg.datoSiniestro.bitacora" ng-required=" rg.datoSiniestro.siniestro == ''  && rg.datoSiniestro.reporte == '' ">
            <div ng-messages="rg.siniestroForm.bitacora.$error" ng-if="rg.siniestroForm.$submitted">
              <div ng-message="required">El campo es requerido</div>            
            </div>
          </md-input-container>

          <md-input-container flex>
            <label>Reporte</label>
            <input type="text" name="reporte" ng-model="rg.datoSiniestro.reporte" mayusculas ng-required=" rg.datoSiniestro.siniestro == '' && rg.datoSiniestro.bitacora == '' ">
            <div ng-messages="rg.siniestroForm.reporte.$error" ng-if="rg.siniestroForm.$submitted">
              <div ng-message="required">El campo es requerido</div>            
            </div>
          </md-input-container>
          
          <md-input-container flex>
            <label>No. De Orden</label>
            <input type="text" name="orden" ng-model="rg.datoSiniestro.orden">
          </md-input-container>
          

          <div flex></div>

        </section>


        <section layout="row" layout-xs="column">

          <md-autocomplete flex
              md-input-name="ajustador"
              md-selected-item="rg.datoSiniestro.ajustadorId"
              md-selected-item-change="rg.detalleAjustador(ajustador)"
              md-search-text="rg.datoSiniestro.ajustador"
              md-items="ajustador in rg.buscaAjustador(rg.datoSiniestro.ajustador)"
              md-item-text="ajustador.AJU_nombre"
              md-input-id="mayusculas"
              md-floating-label="Ajustador"
              ng-disabled="rg.datoSiniestro.ilejible"
              ng-required="!rg.datoSiniestro.ilejible" >
            <md-item-template>
              <span md-highlight-text="rg.datoSiniestro.ajustador">{{ajustador.AJU_nombre}}</span>
            </md-item-template>
            <div ng-messages="rg.siniestroForm.ajustador.$error" ng-if="rg.siniestroForm.$submitted">
              <div ng-message="required">El campo es requerido</div>
            </div>
          </md-autocomplete>

          <md-input-container flex>
            <label>Clave del Ajustador</label>
            <input type="text" name="cveAjustador" ng-model="rg.datoSiniestro.cveAjustador" ng-disabled="rg.ajustadorExiste" numero>
          </md-input-container>
          
          <md-input-container flex>
            <label>Telefono del ajustador</label>
            <input type="text" ng-disabled="rg.ajustadorExiste" name="telAjustador" ng-model="rg.datoSiniestro.telAjustador" maxlength="12" minlength="5" numero>
            <div ng-messages="rg.telAjustador.telefono.$error" ng-if="rg.registroForm.$submitted">
              <div ng-message="required">El campo es requerido</div>  
              <div ng-message="maxlength">El numero no debe ser mayor a 12</div>          
              <div ng-message="minlength">El numero debe ser de 8 o más digitos</div>          
            </div>
          </md-input-container>

          <md-switch ng-model="rg.datoSiniestro.ilejible" aria-label="ilejible" class="md-warn" flex>
            Ajustador Ilegible <span ng-if="rg.datoSiniestro.ilejible">Si</span> <span ng-if="!rg.datoSiniestro.ilejible">No</span>
          </md-switch>

        </section>

        <section layout="row" layout-xs="column" ng-if="rg.datos.producto == 2">


          <md-switch ng-model="rg.datoSiniestro.deducible" aria-label="deducible" class="md-warn" flex>
            Deducible <span ng-if="rg.datoSiniestro.deducible">Si</span> <span ng-if="!rg.datoSiniestro.deducible">No</span> 
          </md-switch>

          <md-input-container class="md-block" flex ng-if="rg.datoSiniestro.deducible">
            <label>Deducible</label>
            <input type="text" name="cantidadDeducible" ng-model="rg.datoSiniestro.cantidadDeducible" dinero ng-required="rg.datoSiniestro.deducible">
            <div ng-messages="rg.siniestroForm.cantidadDeducible.$error" ng-if="rg.siniestroForm.$submitted">
              <div ng-message="required">El campo es requerido</div>            
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="60" ng-if="rg.datoSiniestro.deducible">
            <label>Observaciones al deducible</label>
            <textarea ng-model="rg.datoSiniestro.observacionesDeducible" name="observacionesDed" rows="5" ng-required="rg.datoSiniestro.deducible"></textarea>
            <div ng-messages="rg.siniestroForm.observacionesDed.$error" ng-if="rg.siniestroForm.$submitted">
              <div ng-message="required">El campo es requerido</div>            
            </div>
          </md-input-container>

        </section>

        <section layout="row" layout-xs="column">


          <md-switch ng-model="rg.datoSiniestro.extemporaneo" aria-label="extemporaneo" class="md-warn" flex>
            Folio Extemporaneo <span ng-if="rg.datoSiniestro.extemporaneo">Si</span> <span ng-if="!rg.datoSiniestro.extemporaneo">No</span> 
          </md-switch>

          <md-input-container class="md-block" flex-gt-sm="60" ng-if="rg.datoSiniestro.extemporaneo ">
            <label>Motivo</label>
            <textarea ng-model="rg.datoSiniestro.motivoEx" name="motivoEx" rows="5" ng-required="rg.datoSiniestro.extemporaneo"></textarea>
            <div ng-messages="rg.siniestroForm.motivoEx.$error" ng-if="rg.siniestroForm.$submitted">
              <div ng-message="required">El campo es requerido</div>            
            </div>
          </md-input-container>

          <mdp-date-picker mdp-open-on-click ng-required="rg.datoSiniestro.extemporaneo" name="fechaAtn" mdp-placeholder="Fecha de Atención" mdp-format="DD/MM/YYYY" ng-model="rg.datoSiniestro.fechaAtencion" class="md-block" ng-if="rg.datoSiniestro.extemporaneo" flex>
            <div ng-messages="rg.registroForm.fechaAtn.$error" ng-if="rg.registroForm.$submitted">
              <div ng-message="required">El campo es requerido</div>
              <div ng-message="format">Formato de fecha invalido</div>
            </div>
          </mdp-date-picker>

        </section>

        <section layout="row" layout-xs="column">
          
          <md-input-container flex-gt-sm="20">
            <label>Folio de Pase</label>
            <input type="text" name="orden" ng-model="rg.datoSiniestro.folioPase">
          </md-input-container>

          <md-input-container class="md-block" flex>
            <label>Observaciones</label>
            <textarea ng-model="rg.datoSiniestro.observaciones" rows="5"></textarea>
          </md-input-container>

        </section>

        <section layout="column" layout-align="center center" layout-wrap>
          
          <md-progress-circular md-mode="indeterminate" md-diameter="96" ng-if="rg.guardando"></md-progress-circular>

          <md-button id="nuevo" class="md-fab md-primary md-hue-2"  aria-label="Guardar" type="submit" ng-if="!rg.guardando">
              <md-tooltip md-direction="top">
                Guardar
              </md-tooltip>
              <ng-md-icon icon="keyboard_arrow_right" style="fill:white"></ng-md-icon> 
          </md-button>

        </section>


      </md-content>

    </form>

</md-content>

