 <md-grid-list
      md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4"
      md-row-height-gt-md="1:1" md-row-height-xs="3:4" md-row-height-sm="3:4" md-row-height-md="3:4"
      md-gutter="12px" md-gutter-gt-sm="8px">
  <md-grid-tile class="gray md-whiteframe-1dp"
                ng-repeat="producto in rg.productos"
                md-rowspan="1"
                md-colspan="1"
                md-colspan-sm="1"
                md-colspan-xs="1"                
                ng-click="rg.confirmaProducto(producto)"
                md-ink-ripple>

    <img ng-src="http://www.medicavial.net/mvred/imgs/producto/{{producto.Pro_img}}" class="img-registro md-whiteframe-5dp white" alt="{{producto.Pro_nombre}}" imageonload>
    <span class="loading"><md-progress-circular class="md-warn" md-mode="indeterminate" md-diameter="60"></md-progress-circular> </span>
    <md-grid-tile-footer style="height:auto;">
      <h3>{{producto.Pro_nombre}}</h3>
      <p class="margin-right">Esto es una descripción de lo que este producto puede hacer el producto para que quien use este sistema pueda hacer mejor su trabajo</p>
    </md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list>

