<md-dialog aria-label="Video" flex-sm="65" flex-gt-md="40" flex="100">

  <md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
      <h2>Video</h2>
      <span flex></span>
      <md-button  class="md-icon-button" ng-click="vi.cancel()">
        <ng-md-icon icon="close" style="fill:white" aria-label="Cerrar Ventana"></ng-md-icon> 
      </md-button>
    </div>
  </md-toolbar>


  <md-dialog-content layout-padding>
    <md-content>
      <vjs-video-container vjs-ratio="4:3">
        <video style="width:100%;" class="video-js vjs-default-skin" controls preload="auto" vjs-video vjs-media="vi.info" vjs-setup="vi.options">
        </video>
      </vjs-video-container>
    </md-content>
    
  </md-dialog-content>
  <md-dialog-actions layout="row">

    <span flex></span>
    <md-button type="button" ng-click="vi.cancel()">
        Salir
    </md-button>

  </md-dialog-actions>

</md-dialog>