<md-progress-linear md-mode="indeterminate" ng-if="atn.cargando"></md-progress-linear>
<md-content class="md-whiteframe-2dp" ng-style="atn.opacidad">
    
    <div layout="row">
      <md-subheader class="md-no-sticky">
        Primera Atención - 
        <span ng-if="atn.imagenes.length == 0">Sin Documentos</span> 
        <span ng-if="atn.datos.ATN_estatus == 0 && atn.imagenes.length > 0">Sin Solicitar</span> 
        <span ng-if="atn.datos.ATN_estatus == 1">Solicitado</span>
        <span ng-if="atn.datos.ATN_estatus == 2">Aprobado</span> 
        <span ng-if="atn.datos.ATN_estatus == 3">Rechazado</span>  
        <span ng-if="atn.datos.ATN_estatus == 4">Completo</span> 
      </md-subheader>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Actualizar" ng-click="atn.cargaInfo()">
        <md-tooltip md-direction="top">
          Actualizar
        </md-tooltip>
        <ng-md-icon icon="refresh"></ng-md-icon>
      </md-button>
      
      
    </div>
    <md-divider></md-divider>
    <md-tabs md-selected="atn.tabPrimera" md-dynamic-height class="TabPanel">
    
      <md-tab id="tab1">

        <md-tab-label>Documentos Digitales</md-tab-label>
        <md-tab-body> 
            
          <md-content layout-padding layout-wrap layout-gt-sm="row" layout="column" layout-xs="column">
            
            <section flex="50">

              <md-subheader class="md-no-sticky">Subir Documento</md-subheader>
              <md-divider></md-divider>
              
              <div layout-gt-sm="row" layout="column" layout-align="center center">
                
                <md-select ng-model="atn.tipo" placeholder="Tipo de Documento" class="md-no-underline" required>
                  <md-option value=""><em>Tipo de Documento</em></md-option>
                  <md-option ng-repeat="tipo in atn.tiposDocumento" ng-value="tipo.TID_claveint">
                    {{tipo.TID_nombre}}
                  </md-option>
                </md-select>

                <md-button  aria-label="subir archivo" ng-disabled="!atn.tipo"
                            ngf-select="atn.subirDigitales($files,atn.tipo,$event)" 
                            ngf-change="atn.subirDigitales($files,atn.tipo,$event)" 
                            ngf-multiple="false" 
                            ngf-pattern="'.pdf,image/*'"
                            ngf-accept="'.pdf,image/*'" 
                            ng-model-options="{allowInvalid: false}">
                  Subir Archivo</md-button>
                
              </div>
              <div layout="row" layout-align="center center" flex>
                <md-progress-circular md-mode="determinate" md-diameter="40" value="{{ atn.porcentaje }}" ng-if="atn.porcentaje"></md-progress-circular>
              </div>
              <div class="drop-box" ng-if="atn.tipo" ngf-drop accept="'.pdf,image/*'" ngf-drag-over-class="dragover" ngf-multiple="true" ngf-pattern="'.pdf,image/*'" ngf-change="atn.subirDigitales($files,atn.tipo,$event)" flex>
                  Arrastra tus archivos aqui
              </div>

            </section>
            <section flex="50">

              <md-subheader class="md-no-sticky">Archivos Disponibles</md-subheader>
              <md-divider></md-divider>

              
              <div ng-repeat="(key, value) in atn.imagenes | groupBy: 'tipoNombre'">
                
                <md-toolbar layout="row" class="md-hue-1">
                  <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="Estatus" ng-disabled="true">
                      <ng-md-icon icon="{{ value[0].estatusGlobalIcon }}" style="fill:white"></ng-md-icon>
                    </md-button>
                    <span>{{ key }}</span>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Motivo" ng-if=" value[0].estatusGlobal == 2 " ng-click="atn.motivo(value[0].motivoGlobal,$event)">
                      <ng-md-icon icon="description"></ng-md-icon>
                    </md-button>
                  </div>
                </md-toolbar>
                <md-list>
                  
                  <md-list-item ng-repeat="imagen in value" ng-click="atn.muestraArchivo(imagen,$event)">
                    <ng-md-icon icon="{{ imagen.iconEstatus }}"></ng-md-icon> 
                    <ng-md-icon icon="insert_drive_file"></ng-md-icon> 
                    <p class="padding-left">{{ $index + 1 }} ({{ imagen.estatus }})</p>
                    <ng-md-icon aria-label="Motivo Rechazo" icon="description" class="md-secondary" ng-if="imagen.estatus == 'Rechazado' " ng-click="atn.motivo(imagen.motivo,$event)">
                      <md-tooltip md-direction="top">
                        Motivo Rechazo
                      </md-tooltip>
                    </ng-md-icon>
                    <ng-md-icon aria-label="Elminar Archivo" icon="delete" class="md-secondary" ng-click="atn.eliminarDigitales(imagen,$index,$event,1,1)">
                      <md-tooltip md-direction="top">
                        Eliminar Archivo
                      </md-tooltip>
                    </ng-md-icon>
                  
                    <md-divider ng-hide="$last"></md-divider>
                  </md-list-item>

                </md-list>

              </div>

              <md-button aria-label="Terminar" ng-if="atn.imagenes.length" ng-click="atn.solicitaAutorizacion()" ng-disabled="atn.datos.ATN_estatus != 0">Terminar</md-button>

            </section>

            <div flex></div>
          </md-content>


        </md-tab-body>

      </md-tab>

      <md-tab id="tab2" ng-disabled="atn.datos.ATN_estatus != 2">

        <md-tab-label>Facturación</md-tab-label>
        <md-tab-body>
          <md-content layout-padding layout-wrap layout-gt-sm="row" layout="column" layout-xs="column">
            
            
          </md-content>
        </md-tab-body>

      </md-tab>

    </md-tabs>
</md-content>