<md-dialog aria-label="Nuevo Estado" ng-init="inicio()" flex="40" flex-sm="99" flex-md="75">

  <md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
      <h2>Nuevo Movimiento</h2>
      <span flex></span>
      <md-button  class="md-icon-button" ng-click="cancel()">
        <!-- <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Cerrar Ventana"></md-icon> -->
        <ng-md-icon icon="close" style="fill:white" aria-label="Cerrar Ventana"></ng-md-icon> 
      </md-button>
    </div>
  </md-toolbar>

  <form name="movimientoForm" novalidate ng-submit="guardar()">

  <md-dialog-content>

      <md-autocomplete
          md-selected-item="item"
          md-search-text="busqueda"
          md-items="item in consultado(busqueda)"
          md-item-text="item.ITE_nombre"
          md-min-length="0"
          placeholder="Escribe item a buscar">
        <md-item-template>
          <span md-highlight-text="busqueda" md-highlight-flags="^i">{{item.ITE_nombre}}</span>
        </md-item-template>
        <md-not-found>
          No se encontro "{{busqueda}}".
        </md-not-found>
      </md-autocomplete>
      <br/>
      
      <md-input-container flex>
        <md-select placeholder="Almacen" ng-model="datos.almacen" name="tipo" required >
          <md-option ng-repeat="almacen in almacenes" value="{{almacen.ALM_clave}}">{{almacen.ALM_nombre}}</md-option>
        </md-select>
        <div ng-messages="movimientoForm.tipo.$dirty && movimientoForm.cantidad.$error">
          <div ng-message="required">Campo obligatorio.</div>
        </div>
      </md-input-container>

      <div layout="row" layout-sm="column">
        
        <md-input-container flex>
          <label>Cantidad</label>
          <input type="number" name="cantidad" ng-model="datos.cantidad" required>
          <div ng-messages="movimientoForm.cantidad.$dirty && movimientoForm.cantidad.$error">
            <div ng-message="required">Campo obligatorio.</div>
          </div>
        </md-input-container>
        
        <md-input-container flex>
          <md-select placeholder="Tipo de Movimiento" ng-model="datos.tipomov" name="tipo" required >
            <md-option ng-repeat="tipomov in tiposmovimiento" value="{{tipomov.TIM_clave}}">{{tipomov.TIM_nombre}}</md-option>
          </md-select>
          <div ng-messages="movimientoForm.tipo.$dirty && movimientoForm.cantidad.$error">
            <div ng-message="required">Campo obligatorio.</div>
          </div>
        </md-input-container>

        
      </div>

      <div layout="row" layout-sm="column" ng-show="datos.tipomov == 1">
        
        <md-input-container flex flex-gt-sm="40">
          <md-select placeholder="Tipo de Ajuste" ng-model="datos.tipoa" name="tipo">
            <md-option ng-repeat="tipoajuste in tiposajuste" value="{{tipoajuste.TIA_clave}}">{{tipoajuste.TIA_nombre}}</md-option>
          </md-select>
        </md-input-container>

      </div>
      <br>
      <md-input-container flex>
        <label>Observaciones</label>
        <textarea  columns="1" name="observaciones" ng-model="datos.observaciones"></textarea>
      </md-input-container>

      <div layout="row" layout-sm="column" layout-align="space-around" ng-show="guardando">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
    
  </md-dialog-content>
  <div class="md-actions" layout="row">

    <span flex></span>
    <md-button type="button" ng-click="cancel()">
        Cancelar
    </md-button>
    <md-button type="submit" ng-disabled="verificaForm()">
        Guardar
    </md-button>
  </div>

  </form>
</md-dialog>