<md-content class="md-whiteframe-z1 white" layout="column" ng-init="inicio()">

     <md-tabs md-selected="selectedIndex" md-align-tabs="'top'" md-dynamic-height md-border-bottom>
      <md-tab id="tab1">
        <md-tab-label>Selecciona Unidad</md-tab-label>
        <md-tab-body>
          <div ng-include="paso1"></div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2" ng-disabled="step2block">
        <md-tab-label>Selecciona Proveedores</md-tab-label>
        <md-tab-body> 
          <div ng-include="paso2"></div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab3" ng-disabled="step3block">
        <md-tab-label>Genera Orden</md-tab-label>
        <md-tab-body>
          <div ng-include="paso3"></div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab3" md-on-select="muestraOrdenes()" ng-disabled="step4block">
        <md-tab-label>Acciones</md-tab-label>
        <md-tab-body>
          <div ng-include="paso4"></div>
        </md-tab-body>
      </md-tab>
    </md-tabs>


</md-content>
