<md-dialog aria-label="Agrega Telefono" ng-init="sol.inicio()" flex-sm="70" flex-gt-md="75" flex="100">


    <md-toolbar class="md-warn">
      <div class="md-toolbar-tools">
        <h2>{{ sol.titulo }}</h2>
        <span flex></span>
        <md-button  class="md-icon-button" ng-click="sol.cancelar()">
          <ng-md-icon icon="close" style="fill:white" aria-label="Cerrar Ventana"></ng-md-icon> 
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout-wrap>

      <md-tabs md-selected="sol.tabActual" md-align-tabs="'top'" md-dynamic-height md-border-bottom>
        <md-tab id="tab1" ng-disabled="sol.step1block">
          <md-tab-label>Tipo de Solicitud</md-tab-label>
          <md-tab-body>

            <div ng-include="sol.paso1"></div>
            
          </md-tab-body>
        </md-tab>
        <md-tab id="tab2" ng-disabled="sol.step2block">
          <md-tab-label>Detalles</md-tab-label>
          <md-tab-body> 

            <div ng-include="sol.paso2"></div>
            
          </md-tab-body>
        </md-tab>
        <md-tab id="tab3" ng-disabled="sol.step3block">
          <md-tab-label>Justificación</md-tab-label>
          <md-tab-body>

            <div layout-gt-sm="row" layout-padding>

              <md-input-container class="md-block" flex>
                <label>Diagnostico Actual</label>
                <textarea ng-model="sol.datos.diagnostico"></textarea>
              </md-input-container>

              <md-input-container class="md-block" flex>
                <label>Justificación y Observaciones</label>
                <textarea ng-model="sol.datos.justificacion"></textarea>
              </md-input-container>

            </div>
            
          </md-tab-body>
        </md-tab>
        <md-tab id="tab4" ng-disabled="sol.step4block">
          <md-tab-label>Soporte</md-tab-label>
          <md-tab-body>

            <md-content>

              <md-subheader class="md-no-sticky">Proporciona información adicional para agilizar tu solicitud (Nota Médica, Pase, Identificacion, Etc.)</md-subheader>
              <md-divider></md-divider>
              
              <div layout-gt-sm="row" layout="column" layout-align="center center">

                <md-button  aria-label="subir archivo"
                            ngf-select="atn.subirDigitales($files,atn.tipo,$event)" 
                            ngf-change="atn.subirDigitales($files,atn.tipo,$event)" 
                            ngf-multiple="false" 
                            ngf-pattern="'.pdf,image/*'"
                            ngf-accept="'.pdf,image/*'" 
                            ng-model-options="{allowInvalid: false}">
                  Subir Archivo</md-button>
                
              </div>
              <div layout="row" layout-align="center center" flex>
                <md-progress-circular md-mode="indeterminate" md-diameter="40" ng-if="atn.subiendoImagen"></md-progress-circular>
              </div>
              <div class="drop-box" ngf-drop accept="'.pdf,image/*'" ngf-drag-over-class="dragover" ngf-multiple="false" ngf-pattern="'.pdf,image/*'" ngf-change="atn.subirDigitales($files,atn.tipo,$event)" flex>
                  Arrastra tus archivos aqui
              </div>

            </md-content>
            
          </md-tab-body>
        </md-tab>
        <md-tab id="tab5" ng-disabled="sol.step5block">
          <md-tab-label>Comprobante</md-tab-label>
          <md-tab-body>
              <md-content layout="row" layout-align="center start" layout-padding>
                <md-progress-circular md-mode="indeterminate" md-diameter="40" ng-if="sol.guardando"></md-progress-circular>
                <md-button class="md-raised md-primary" ng-click="sol.solicitar()" ng-if="!sol.guardando" aria-label="Genera Solicitud">Genera Solicitud</md-button>
              </md-content>
          </md-tab-body>
        </md-tab>
        <md-tab ng-hide="true"></md-tab>
  
      </md-tabs>

    </md-dialog-content>


    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="sol.tabActual = sol.tabActual - 1" ng-disabled="sol.tabActual == 0">
        <md-tooltip md-direction="top">
          Regresar
        </md-tooltip>
        <ng-md-icon icon="keyboard_arrow_left" style="fill:black"></ng-md-icon> 
      </md-button>
      <md-button ng-click="sol.siguiente()" ng-disabled="sol.guardando">
        <md-tooltip md-direction="top">
          Siguiente
        </md-tooltip>
        <ng-md-icon icon="keyboard_arrow_right" style="fill:black"></ng-md-icon> 
      </md-button>
    </md-dialog-actions>

</md-dialog>