<md-content layout="column" layout-padding ng-if="sol.datos.tipo == 4">
              
  <md-input-container layout-align="center">
    <label>Tipo de Interconsulta</label>
    <md-select ng-model="sol.datos.interconsulta.tipo" placeholder="Tipo de Interconsulta">
      <md-option value="">Selecciona Consulta</md-option>
      <md-option value="Neurologia">Neurología</md-option>
      <md-option value="Ginecologia">Ginecología</md-option>
      <md-option value="Otorrinolaringologia">Otorrinolaringología</md-option>
      <md-option value="Oftalmologia">Oftalmología</md-option>
      <md-option value="Otro">Otro</md-option>
    </md-select>
  </md-input-container>

  <div ng-if=" sol.datos.interconsulta.tipo == 'Ginecologia' ">
    
    <md-content layout="row" layout-align="center start" layout-padding>
      <md-subheader>¿La Paciente se Encuentra Embarazada?</md-subheader>
      <md-button class="md-raised md-primary" ng-click="sol.pacienteEmbarazada = true" aria-label="Si">Si</md-button>
      <md-button class="md-raised md-warn" ng-click="sol.siguiente()" aria-label="No">No</md-button>
    </md-content>
    <br>
    <md-content layout="column" ng-if=" sol.pacienteEmbarazada ">
        
        <div layout="row" layout-align="center start" layout-wrap>
            
          <div class="text-center" flex>
            <p>¿Actualmente está sometida a control ginecológico?</p>

            <md-radio-group ng-model="datos.interconsulta.controlgineco" layout="row" layout-align="center start" >

              <md-radio-button value="SI">Si</md-radio-button>
              <md-radio-button value="NO"> No </md-radio-button>

            </md-radio-group>
          </div>
          <div class="text-center" flex>
            <p>¿Dolor abdominal?</p>

            <md-radio-group ng-model="datos.interconsulta.dolorabdominal" layout="row" layout-align="center start">

              <md-radio-button value="SI">Si</md-radio-button>
              <md-radio-button value="NO"> No </md-radio-button>

            </md-radio-group>
          </div>
          <div class="text-center" flex>
            <p>Movimientos Fetales</p>

            <md-radio-group ng-model="datos.interconsulta.movimientosfetales" layout="row" layout-align="center start">

              <md-radio-button value="Presentes">Presentes</md-radio-button>
              <md-radio-button value="Ausentes"> Ausentes </md-radio-button>

            </md-radio-group>
          </div>

        </div>
        <br>
        <div layout="row" layout-align="center start" layout-padding>
          
          <md-input-container class="md-block" flex>
            <label>Semanas de gestacion</label>
            <input type="number" step="1" name="semanas" ng-model="sol.datos.interconsulta.semanas" min="0" max="36" />
          </md-input-container>
          
          <md-input-container class="md-block" flex>
            <label>Frecuencia cardiaca fetal</label>
            <input type="text"  ng-model="sol.datos.interconsulta.movimientosfetales" />
          </md-input-container>

        </div>

        <div layout-padding>
          
          <md-input-container class="md-block">
            <label>Observaciones</label>
            <textarea ng-model="sol.datos.interconsulta.observaciones" md-select-on-focus></textarea>
          </md-input-container>


        </div>


    </md-content>

  </div>

</md-content>

<md-content layout="column" layout-padding ng-if="sol.datos.tipo == 3">
              
  <p>Tipo de estudio</p>

  <md-radio-group ng-model="sol.datos.estudio.tipo">

    <md-radio-button value="Resonancia magentica nuclear (RMN)">Resonancia magentica nuclear (RMN)</md-radio-button>
    <md-radio-button value="Tomografia accial computarizada (TAC)">Tomografia accial computarizada (TAC)</md-radio-button>
    <md-radio-button value="Electrocardiograma (EMG)">Electrocardiograma (EMG)</md-radio-button>
    <md-radio-button value="Ultrasonido (US)">Ultrasonido (US)</md-radio-button>
    <md-radio-button value="Ultrasonido ginecobstetrico (USG)">Ultrasonido ginecobstetrico (USG)</md-radio-button>

  </md-radio-group>

  <md-input-container class="md-block">
    <label>Detalle del estudio</label>
    <textarea ng-model="sol.datos.estudio.detalle" md-select-on-focus></textarea>
  </md-input-container>

</md-content>

<md-content layout="column" layout-gt-sm="row" layout-padding layout-align="center center" ng-if="sol.datos.tipo == 1">
  

  <div flex>
    
    <p>Escala de dolor del paciente</p>

    <md-slider-container>
      <md-input-container>
        <input flex type="number" ng-model="sol.datos.rehabilitacion.dolor" aria-label="dolor" aria-controls="dolor-slider">
      </md-input-container>
      <md-slider ng-model="sol.datos.rehabilitacion.dolor" min="0" max="10" aria-label="dolor" id="dolor-slider" class="md-accent" md-vertical
                 md-range md-discrete></md-slider>
      </md-slider>
      <h5>Dolor</h5>
    </md-slider-container>

  </div> 

  <div flex>
    
    <p>¿Cuantas sesiones de rehabilitación a tomado el paciente?</p>

    <md-input-container class="md-block">
      <label>Numero de Rehabilitaciones</label>
      <input ng-model="sol.datos.rehabilitacion.rehabilitaciones" min="0" type="number">
    </md-input-container>

  </div>        

  
  <div ng-if="sol.datos.rehabilitacion.rehabilitaciones > 0" flex>
    
    <p>Escala de mejora</p>

    <md-slider-container flex>
      <md-input-container>
        <input flex type="number" ng-model="sol.datos.rehabilitacion.mejora" aria-label="mejora" aria-controls="mejora-slider">
      </md-input-container>
      <md-slider ng-model="sol.datos.rehabilitacion.mejora" min="0" max="10" aria-label="mejora" id="mejora-slider" class="md-primary" md-vertical
                 md-range md-discrete></md-slider>
      </md-slider>
      <h5>Mejora</h5>
    </md-slider-container>

  </div>

</md-content>

<md-content layout="column" layout-padding ng-if="sol.datos.tipo == 9">


  <md-input-container class="md-block">
    <label>Suministro requerido</label>
    <textarea ng-model="sol.datos.suministro.detalle" md-select-on-focus></textarea>
  </md-input-container>

</md-content>

<md-content layout="column" layout-gt-sm="row" layout-padding ng-if="sol.datos.tipo == 11">
  
  <md-content layout-wrap  flex>
      <p>Documentos requeridos</p>

      <md-checkbox  ng-model="sol.datos.informacion.notamedica">
        Nota Médica
      </md-checkbox>
      <md-checkbox  ng-model="sol.datos.informacion.rx">
        Rx
      </md-checkbox>
      <md-checkbox  ng-model="sol.datos.informacion.resultados">
        Resultado de estudios
      </md-checkbox>

  </md-content>

  <md-content layout-wrap flex>

    <p>Por favor detalla el motivo por el cual el paciente requiere esta información</p>
    <md-input-container class="md-block">
      <label>Motivo de solicitud</label>
      <textarea ng-model="sol.datos.informacion.datalle" md-select-on-focus></textarea>
    </md-input-container>
    
  </md-content>


</md-content>

<md-content layout="column" layout-padding ng-if="sol.datos.tipo == 21">


  <md-input-container class="md-block">
    <label>Detalle de la Salida de Paquete</label>
    <textarea ng-model="sol.datos.suministro.detalle" md-select-on-focus></textarea>
  </md-input-container>

</md-content>


<md-content layout="column" layout-gt-sm="row" layout-padding ng-if="sol.datos.tipo == 2">
  
  <md-content layout-wrap  flex>
      <p>Tipo de Problema</p>

      <md-checkbox  ng-model="sol.datos.problemadocumental.pase">
        Problema con el pase médico
      </md-checkbox>
      <md-checkbox  ng-model="sol.datos.problemadocumental.identificacion">
        Problema con la identificación
      </md-checkbox>

  </md-content>

  <md-content layout-wrap flex>

    <md-input-container class="md-block">
      <label>Motivo del Problema</label>
      <textarea ng-model="sol.datos.problemadocumental.detalle" md-select-on-focus></textarea>
    </md-input-container>
    
  </md-content>


</md-content>